@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@897&display=swap');
/*  font-family: "Montserrat", sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* font-family: "Inter", sans-serif; Textos en Detalle*/

* {
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

*,::after,::before {box-sizing: border-box;}
html,body {height: 100%; scrollbar-track-color: #b10000;}

::selection {background-color: var(--select-text);}

input,button,textarea,select {font: inherit;}
a {text-decoration: none;}
button {border: none;}

br {
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
}

body {
    /*Text & Nucleo*/
    --select-text: #fb8a0a96;
    --white: #e6e6e6;
    --black: #000000;

    /*Background*/
    background: var(--background);
    --background: #070707;
    --stock-perfil:#19191b;
    --border-stock-perfil: #ffffff53;

    /*Background
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    */

    /*Header*/
    --header:#15151500;
    --header-on:#000000f7;

    /*Botones*/
    --buttons:#151414;
    --buttons-hover:#5b5b5b;

    --buttons-pop:#060606;
    --buttons-proyect:#4f4f4f;
    --buttons-proyect-tech:#525d86;

    /*Webkit Bar*/
    --bg: var(--background);
    --bar: #202020;
    --bg-bar: #050505;
    --bar-hover: #b10000;

    /*Pop*/
    --bg-pop: #121212;
    --white-dn:var(--white);

    --status: #121212;
    --status-base: #ababab;

    /*Hover*/
    --hover: #5b5b5b;
    --hover-bar: #ffffff;
}

body::-webkit-scrollbar {width: 10px;   background: var(--bg);}
body::-webkit-scrollbar-thumb {border: 0px solid var(--bg);   background: var(--bar);}
body::-webkit-scrollbar-track {border-radius: 5px;      background: none;}
body::-webkit-scrollbar:hover {background: var(--bg-bar);}
body::-webkit-scrollbar:hover body::-webkit-scrollbar-thumb {border: 1px solid var(--bar-hover);}

@media (max-width:780px) {
    .scroll-frost {overflow: hidden;}
    ::-webkit-scrollbar {display: none;}
}

.reel-screenshots::-webkit-scrollbar {
    height: 12px;
    border-radius: 8px;
    background: var(--bg);
}

.reel-screenshots::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid var(--bg);
    background: var(--bar);
}

.reel-screenshots::-webkit-scrollbar-track {
    border-radius: 5px;
    background: none;
}
