.Pop {
    width: 100%;
    height: 100%;

    background-color: #0000006e;
    position: fixed;
    display: flex;

    pointer-events: none;
    opacity: 0;

    z-index: 4;
    transition: all 0.3s ease-out;
}

.Pop-out {
    pointer-events:all;
    opacity: 1;
}

.flex-pop {
    display: flex;
    justify-content: center;
}

.Pop-center {
    margin-bottom: 10px;
    text-align: center;
}

.Pop-text {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

.Pop-center-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.Pop-icon {
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: center;

    transform: translate(0, -75px);
    pointer-events: none;

}

.Pop-Close {
    width: 41px;
    height: 41px;

    background-color: var(--bg-pop);
    border: 2px solid var(--buttons);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;

    position: fixed;
    z-index: 5;

    top: 0;
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;

    background-position: center;
    background-size: 50% 50%;
    background-repeat: no-repeat;

    transition: 0.15s cubic-bezier(.4,0,.2,1);
}

.Pop-Close-Up {
    transform: translateY(22px);
    opacity: 1;
    pointer-events: all;
}

.Pop-Close:hover{background-color: var(--buttons-hover); border: 2px solid var(--white);}
@media (max-width:780px) { 
    .Pop-Close-Up {transform: translateY(9px);}
    .Pop-Close:hover{background-color: var(--solid-box); border: 2px solid var(--buttons);}
    .Pop-Close:active{background-color: var(--buttons-hover); border: 2px solid var(--white);}
}
.Pop-bubble {
    width: 100px;
    height: 100px;

    border-radius: 80px;
    background-color: var(--bg-pop);
    pointer-events: none;

    border: 2px solid var(--white);
}

@media (max-width:780px) {
    .Pop-icon { 
        height: 20px;
        transform: translate(0, -90px);
    }

    .Pop-bubble {
        width: 100px;
        height: 100px;
    }
}

.Ability {
    width: 100%;
    height: 20px;

    padding: 3px 3px 3px 3px;
    background-color: var(--status-base);
    border-radius: 20px;

    display: flex;
    align-items: center;
}

.Status {
    height: 100%;

    background-color: var(--status);
    border-radius: 20px;
}

.St-VS {width: 75%;}
    .St-Terml {width: 35%;}
.St-Git {width: 47%;}
    .St-GitGit {width: 35%;}
.St-Fig {width: 65%;}
.St-HTML {width: 90%;}
.St-CSS {width: 65%;}
.St-JS {width: 45%;}
    .St-Node {width: 39%;}
    .St-React {width: 47%;}
    .St-Astr {width: 58%;}
.St-PY {width: 48%;}
.St-SQL {width: 43%;}

.Status-Animated {animation: Status 0.63s ease-out;}

@keyframes Status {0% { width: 0%;}    100% {}}

.Pop-VS, .Pop-Git, .Pop-Fig, .Pop-HTML, .Pop-CSS, .Pop-JS, .Pop-PY, .Pop-SQL, .Pop-Fr, .Pop-Office{
    width: 50vw;
    max-width: 720px;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: auto;

    color: var(--white-dn);

    display: flex;
    position: fixed;

    bottom: 0;
    border-radius: 0px 0px;

    z-index: 5;

    transform: translate(0,0);
    opacity: 0;

    transition: 0.157s cubic-bezier(.4,0,.2,1);

    padding: 0 25px 25px 25px;
    flex-direction: column;
    pointer-events: none;
    
}

.Pop-Mail {
    width: 50vw;
    max-width: 720px;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: auto;

    background-color: var(--bg-pop);
    color: var(--white-dn);

    display: flex;
    position: fixed;

    bottom: 0;
    border-radius: 0 0;

    z-index: 5;

    transform: translate(0,0);
    opacity: 0;
    transition: 0.157s cubic-bezier(.4,0,.2,1);

    padding: 0 25px 25px 25px;
    flex-direction: column;
    pointer-events: none;
    
}

.Pop-VS-Out, .Pop-Git-Out, .Pop-Fig-Out, .Pop-HTML-Out, .Pop-CSS-Out, .Pop-JS-Out, .Pop-PY-Out, .Pop-SQL-Out, .Pop-Fr-Out, .Pop-Office-Out{
    transform: translate(0,-50px);
    opacity: 1;
    pointer-events: all;
    
    background-color: var(--bg-pop);
    border-radius: 20px 20px;
}

.Pop-Mail-Out {
    transform: translate(0,-50px);
    opacity: 1;
    pointer-events: all;

    background-color: var(--bg-pop);
    border-radius: 20px 20px;
}

@media (max-width:780px) {
    .Pop-VS, .Pop-Git, .Pop-Fig, .Pop-HTML, .Pop-CSS, .Pop-JS, .Pop-PY, .Pop-SQL, .Pop-Fr, .Pop-Office {
        width: 100%;
        height: auto;

        bottom: 0;
        border-radius: 35px 35px 0 0;
        padding: 25px 25px 40px 25px;

        transform: translate(0,300px);
    }

    .Pop-Mail{ 
        width: 100%;
        height: auto;

        bottom: 0;
        border-radius: 35px 35px 0 0;
        padding: 0 25px 40px 25px;

        transform: translate(0,300px);
    }

    .Pop-VS-Out, .Pop-Git-Out, .Pop-Fig-Out, .Pop-HTML-Out, .Pop-CSS-Out, .Pop-JS-Out, .Pop-PY-Out, .Pop-SQL-Out, .Pop-Fr-Out, .Pop-Office-Out{
        transform: translate(0,0);
        opacity: 1;
    }

    .Pop-Mail-Out {
        transform: translate(0,0);
        opacity: 1;
    }

}

.email-tump {
    width: 100%;
    height: 50px;

    margin-top: 20px;

    display: grid;

    grid-template-columns: 1fr 50px;
    align-items: center;
    justify-content: space-between;

    border-radius: 30px;
    text-decoration: none;

    gap: 10px;
}

.email-text {
    width: 100%;
    height: 100%;

    padding: 0 10px 0 10px;

    color: white;
    background-color: var(--buttons-pop);
    border: 2px solid var(--buttons-pop);

    font-family: "Helvetica", sans-serif;
    font-size: 15px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 30px;
    transition: 0.2s ease-out;
}

.email-text:hover{background-color: var(--buttons-hover); border: 2px solid var(--white);}
@media (max-width:780px) { 
    .email-text:hover{background-color: var(--buttons-pop); background-color: var(--buttons-pop);}
    .email-text:active{background-color: var(--buttons-hover); border: 2px solid var(--white);}
}

.email-button{
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-out;

    border-radius: 30px;

    background-color: var(--buttons-pop);
    border: 2px solid var(--buttons-pop);
    
    pointer-events: all;

    cursor: pointer;
}

.email-button:hover{background-color: var(--buttons-hover); border: 2px solid var(--white);}
@media (max-width:780px) { 
    .email-button:hover{ background-color:none;border:none;}
    .email-button:active{background-color: var(--buttons-hover); border: 2px solid var(--white);}
}

.email-button svg > path {transition: 0.2s ease-out;}

.button-air {
    background-color: rgb(183, 183, 183);
    pointer-events: none;
    transition: 0.2s ease-out;
    cursor: crosshair;
}

.button-air::before {
    content: 'Copiado 📝 ';
    width: 108px;
    height: 30px;

    background: black;
    color: white;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 2px 10px;

    border-radius: 10px;

    transform: translateY(-30px);
    position: fixed;
    font-family: "Helvetica", sans-serif;

    transition: 0.2s ease-out;
}

.button-air svg > path {stroke: rgb(90, 90, 90);}

.flex-full {
    width: 100vw;
    height: 100vh;

    display: flex;
    position: fixed;

    background-color: rgba(0, 0, 0, 0);

    z-index: 5;

    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: auto;

    bottom: 0;

    transform: translate(0,0);
    opacity: 0;
    transition: 0.175s ease-out;

    pointer-events: none;

    justify-content: center;
    align-items: center;
}

.Pop-Flex-Out {
    transform: translate(0,0px);
    opacity: 1;
    pointer-events: none;
}

.Pop-Proyect {
    width: 50vw;
    height: 100vh;

    background-color: #414141c0;
    pointer-events: none;
}

.Pop-Waltz, .Pop-Tech {
    width: 50vw;
    max-width: 1080px;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    position: fixed;

    inset: 0;
    border-radius: 0 0;

    z-index: 5;

    transform: translate(0,70px);
    opacity: 0;
    transition: 0.157s cubic-bezier(.4,0,.2,1);

    padding: 25px 25px 25px 25px;
    flex-direction: column;
    pointer-events: none;
}

.Waltz {
    background-color: black;
    color: var(--white-dn);
}

.Techemet{
    background-color: #08102f;
    color: var(--white-dn);
}

.Pop-Waltz-Out, .Pop-Tech-Out {
    transform: translate(0,10px);
    opacity: 1;
    pointer-events: all;
    
    border-radius: 20px 20px;
}

@media (max-width:780px) {
    .Pop-Waltz, .Pop-Tech{ 
        width: 100%;
        height: fit-content;

        inset: auto;
        bottom: 0;
        border-radius: 35px 35px 0 0;
        padding: 25px 25px 40px 25px;

        transform: translate(0,300px);
    }

    .Pop-Waltz-Out, .Pop-Tech-Out {
        transform: translate(0,0);
        opacity: 1;
    }
}

.tags-proyect {
    width: 100%;
    height: 20px; 

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-bottom: 10px;
}

.tags {
    width: fit-content;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-size: 11px;

    padding: 5px 10px;

    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.htmlcss {background-color: #2d8ab2; color: #000;}
.jscolor {background-color: #efd81d; color: var(--black);}

.buttons-role {
    width: 100%;
    height: 40px;

    display: flex;

    align-items: center;
    justify-content: center;

    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.link-page {
    width: fit-content;
    height: 40px;

    display: flex;
    align-items: center;
    padding: 10px 12px;

    font-family: "Inter", sans-serif;
    font-size: 14px;

    color: white;
    border-radius: 30px;

    transition: 0.2s ease-out;
}

.link-waltz {
    background-color: var(--buttons-proyect);
    border: 2px solid var(--buttons-proyect);
}

.link-tech {
    background-color: var(--buttons-proyect-tech);
    border: 2px solid var(--buttons-proyect-tech);
}

.link-github {
    width: 40px;
    height: 40px;

    border-radius: 30px;
    
    transition: 0.2s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.link-page:hover{background-color: var(--buttons-hover); border: 2px solid var(--white);}
@media (max-width:780px) { 
    .link-page:hover{background-color: var(--solid-box); border: 2px solid var(--buttons);}
    .link-page:active{background-color: var(--buttons-hover); border: 2px solid var(--white);}
}

.link-github:hover{background-color: var(--buttons-hover); border: 2px solid var(--white);}
@media (max-width:780px) { 
    .link-github:hover{background-color: var(--solid-box); border: 2px solid var(--buttons);}
    .link-github:active{background-color: var(--buttons-hover); border: 2px solid var(--white);}
}


.reel-screenshots {
    width: 100%;
    height: 120px;

    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    gap: 0 10px;
    padding-bottom: 10px;

    overflow-x:auto;

}

.screenshots {
    width: 200px;
    height: 120px;

    background: #313131;
    border-radius: 10px;
}